*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 20px;
}
.left {
    width: 300px;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.right {
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.olBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}